html {
  height: 100%;
}

body {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2em;
  color: #2E2E3A;
  background-color: #DFDBE5;
  background-image: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-name {
  padding-bottom: 8px;
  font-size: 0.8em;
}

.name {
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 0 35px 0 35px;
  color: #8f8fa1;
  font-size: 0.8em;
  width: 20%;
  height: 20px;
}

input {
    text-align: center;
}

.verse-containter {
  font-family: 'Amiri', serif;
  border-radius: 20px;
  background-color: rgb(255, 251, 219, 0.5);
  box-shadow: -20px 10px 5px 0 rgba(228, 166, 119, 0.5);
  padding: 10px 10px 10px 10px;
  width: auto;
  max-width: 900px;
  height: 50%;
}

.shahed{
  font-size: 0.6em;
}

.btn-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  width: 100%;
}

button {
  font-size: 1rem;
  border-radius: 6px;
  background-color: #884A1B;
  color: white;
  box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.59);
}

button:hover {
  cursor: pointer;
  transform: translateY(10%);
  background-color: #AA5D22;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

button:focus {
  outline: none
}
